<nav id="navbarNav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">MyPortfolio</a>

    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#hero">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>